:root { --app-bar-height: 8vh; }
body { margin: 0; }
main {
   height: calc(100vh - var(--app-bar-height));
   width: 100vw;
   overflow: auto;
}
app-bar {
   height: var(--app-bar-height);
   width: 100vw;
   overflow: hidden;
}
main > * {
   height: 100%; width: 100%;
   display: flex; flex-direction: column; 
   justify-content: center;
   align-items: center;
}
button { height: var(--app-bar-height); }
input { height: var(--app-bar-height); }

button:active { background-color: red; }
a { text-decoration: none; }
a:hover { color: red; }
/*
nav#start {display:flex; flex-flow:column; margin-top:0.2em; margin-bottom:0.2em; margin-right:0.2em;}
nav {display:flex; flex-flow:row nowrap; margin-top:0.2em; margin-bottom:0.2em; margin-right:0.2em;}
nav > button {height: 3em; font-size: large; flex-grow: 1; margin-left: 0.2em; margin-bottom: 0.2em;}
nav > label1 {height: 3em; font-size: large; flex-grow: 1; margin-left: 0.2em; margin-bottom: 0.2em;}
nav > input {height: 3em; font-size: large; flex-grow: 1; margin-left: 0.2em; margin-bottom: 0.2em;}
.recdiv {flex-flow:column; width:100vw; max-width:640px;}
.recdiv > * {width:100vw; max-width:640px;}
.locdiv > button {font-size: medium; margin: 0;}
iframe {background-color: white;}
input {box-sizing: border-box; height: 2em; font-size: large; margin-top: 0.2em;}
button.true {background-color: red;}

footer {margin-top: 0.5em;}
*/
